---
import MainLayout from "../layouts/MainLayout.astro";

import NavbarSection from "../components/sections/NavbarSection.jsx";
import HeroSection from "../components/sections/HeroSection.jsx";
import StyleSection from "../components/sections/StyleSection.jsx";
import AboutSection from "../components/sections/AboutSection.jsx";
import BottomSection from "../components/sections/BottomSection.jsx";
---

<MainLayout>
  <main class="flex flex-col scroll-smooth">
    <NavbarSection client:load />
    <HeroSection client:load />
    <StyleSection client:load />
    <AboutSection client:load />
    <BottomSection />
  </main>
</MainLayout>
