---
import MainLayout from "../layouts/MainLayout.astro";

import NavbarSection from "../components/sections/NavbarSection.jsx";
import CenterSection from "../components/sections/CenterSection.jsx";
import MenuSection from "../components/sections/MenuSection.jsx";
import BottomSection from "../components/sections/BottomSection.jsx";
---

<MainLayout>
  <main class="h-[200vh] flex flex-col">

    <NavbarSection client:load />
    <CenterSection client:load />
    <MenuSection client:load />
    <BottomSection />

  </main>
</MainLayout>